/* Google font link */

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

/* Google font css */

.font {
  font-family: "Josefin Sans", sans-serif;
}

/* background color */

.bg-color {
  background: #e5f4f4;
}
/* header color */

.header-bgcolor {
  background: #0071dc;
}
/* header image sizing */

.header-img {
  width: 5%;
}

/* header color style  */

.header-color {
  color: #fdbb30;
}

/* card effect css */

.card {
  border-radius: 4px;
  background: #681e1e;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
